@import url('https://fonts.googleapis.com/css?family=Montserrat|ZCOOL+XiaoWei&display=swap');
* {


margin: 0;
padding: 0;
}

body {
  overflow-x: hidden;
  background-color: lavenderblush;
}

.container {

}

h1 {
  text-align: center;
  color: #AE97BA;
  font-family: 'ZCOOL XiaoWei', serif;
}

h3 {
  color: #424242;
  font-family: 'Montserrat', sans-serif;
}

.desc {
  float: center;
  margin-top: 1vh;
  margin-left: 55.3vh;
}

.menu li{
  float: right;
  padding-right: 0px;
  font-size: 1.2em;
  color: lavenderblush;
  list-style-type: none;
  margin-top: 1vh;
  margin-right: 5vh;
  font-family: 'ZCOOL XiaoWei', serif;
}

.menu li a {
  color: lavenderblush;
  text-decoration: none;
  text-shadow: 3px 3px 6px #E3CDDA;
}

.menu li a:hover {
  color: #575A5C;
  transition: 0.5s;
  h1 {
    text-align: center;
    color: #FFF6F5;
    font-family: 'ZCOOL XiaoWei', serif;
    text-shadow: 3px 3px 6px #E3CDDA;
  }

  .menu li{
    float: right;
    padding-right: 0px;
    font-size: 1.2em;
    color: #575A5C;
    list-style-type: none;
    margin-top: 1vh;
    margin-right: 5vh;
    font-family: 'ZCOOL XiaoWei', serif;
  }

  .menu li a {
    color: #575A5C;
    text-decoration: none;
  }


  .menu li a:hover {
    color: lavenderblush;
    text-shadow: 3px 3px 6px #E3CDDA;
    transition: 0.5s;

    .align1 {
      float: right;
      padding-right:5vh;
      padding-right: none;
      padding-left: none;
      padding-bottom: none;
      padding-top: none;
    }

    .align2 {
      float: left;
      padding-left: 30vh;
    }

    .menufooter li{
      float: right;
      padding-right: 0px;
      font-size: 1.2em;
      list-style-type: none;
      margin-top: 0vh;
      margin-right: 5vh;
      font-family: 'ZCOOL XiaoWei', serif;
    }

    .menufooter li a {
      text-decoration: none;
    }

    .menufooter li a:hover {
      color: #FAFAFA;
      transition: 0.5s;
      text-shadow: 3px 3px 6px rgba(250,250,250, 0.5);
    }

    li .email {
      padding-right: 15vh;
    }
