
/*basic styling*/
margin: 0;
padding: 0;
}

body {
overflow-x: hidden;
background-color: #ccccff;
}

.container {
}

/*form*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


h2 {
  margin-bottom: 0.5vw;
  color: #4a4a4a;
  font-family: 'Brandon-Grotesque', sans-serif;
  text-shadow: 2px 2px 0px rgba(216,213,255, 0.5);
}

form {
  width:90%;
  max-width:500px;
  margin:15px auto;
}

input, textarea {
  width:100%;
  margin-bottom:10px;
  border-radius:3px;
  border:solid 1px #ccc;
  padding:4px 7px;
  font-family: 'Montserrat', sans-serif;
}
#eml, #tel {
  width:49%;
}
#tel {
  float:right;
}
button{
  width:120px;
  float:right;
  margin-left:15px;
  border-radius:3px;
  border: solid 1px #ccc;
  padding:4px 7px;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background-color:white;
  border:#333;
}
/*form*/

img:hover {
border: solid 4px #fbf5ff;
transition: border-width 0.6s linear;
}

p, a {
list-style-type: none;
text-decoration: none;
}

.menu li{
float: right;
padding-right: 0px;
font-size: 1.2vw;
list-style-type: none;
margin-top: 1vw;
margin-right: 3vw;
font-family: 'ZCOOL XiaoWei', serif;
}

.menu li a {
color: #FFEEE6;
text-decoration: none;
}

.menu li a:hover {
color: #FAFAFA;
transition: 0.5s;
text-shadow: 3px 3px 6px rgba(250,250,250, 0.5);
}

/* center edit
.center {
float: center;
margin-left: 34vw;
margin-right: 34vw;
}
*/

a {
color: #4a4a4a;
}

a:hover {
color: lavenderblush;
transition: 0.5s;
text-shadow: 3px 3px 6px #F7D9D7;
}

h1 {
color: White;
font-family: 'ZCOOL XiaoWei', serif;
}

p {
color: #4a4a4a;
font-family: 'Montserrat', sans-serif;
text-shadow: 2px 2px 0px rgba(216,213,255, 0.5);
}

h1, p{
text-align: center;
}

#title {
margin-top: 8vh;
letter-spacing: 0.5vw;
}

.align1 {
float: right;
padding-right:5vh;
padding-right: none;
padding-left: none;
padding-bottom: none;
padding-top: none;
}

.align2 {
float: left;
padding-left: 30vh;
}

.menufooter li{
float: right;
padding-right: 0px;
font-size: 1.2em;
list-style-type: none;
margin-top: 0vh;
margin-right: 5vh;
font-family: 'ZCOOL XiaoWei', serif;
}

.menufooter li a {
text-decoration: none;
}

.menufooter li a:hover {
color: #FAFAFA;
transition: 0.5s;
text-shadow: 3px 3px 6px rgba(250,250,250, 0.5);
}

li .email {
padding-right: 15vh;
}

/* .bg {
width: 100%, auto;
height: 100%, auto;
background: linear-gradient(
  to bottom right,
  #DDCFE6, #B2A2BA,
  #4878D9, #857096,
  #4393D9, #4C3A5C,
  #BAABD1, #C7A3B9);
background-repeat: no-repeat;
background-size: 1000% 1000%;
animation: gradient 240s ease infinite;
}

@keyframes gradient {
0%{background-position:0% 0%}
50%{background-position:100% 100%}
100%{background-position:0% 0%}
} */

/* cursor effects */
.cursor{
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
  box-shadow:  0 0 50px 10px rgb(0, 0, 0);
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.cursor2{
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
}

.content:hover ~ .cursor{
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #c6c6c6;
  opacity: .5;
}

.content:hover ~ .cursor2{
  opacity: 0;
} 

/* sidebar social */
.sidebar {
  position: relative;
  text-align: right;
  text-decoration: none;
  list-style-type: none;
  padding-right: 2vh;
  padding-bottom: 5vh;
  font-size: 1.5vw;
}

.ul {
  list-style-type: none;
}

.sidebar li a {
  color: #0a0a0a;
  text-decoration: none;
}

/* sidebar keep up w me */
.time-container {
  position: relative;
  overflow: hidden;
  width:200px;
  margin-left:50px;
  color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-radius: 10px;
}

#time {
  position: relative;
  bottom: 100px;
  transition: 1s;
  color: black;
  font-family: brandon-grotesque,sans-serif;
  font-weight: 400;
  font-style: normal;
}
.li:hover {
  color: rgb(255, 255, 255); 
  text-shadow: 5px, 5px, black;
}

.time-container:hover #time {
  transition: 0.71s;
  bottom: 0;
}

/* home and about page bar */
body {
  font-family: brandon-grotesque, sans-serif;
  padding-top:50px;
}

a {
  text-decoration:none;
}
ul {
  margin:0px;
}

nav ul {
      text-align:center;
  }
  nav ul li {
      display:inline-block;
  }
  nav ul > li a {
      display:block;
      letter-spacing:1px;
      padding:0px 30px;
      padding-bottom:15px;
      color:#000;
      font-weight:bold;
      font-size:13px;
      text-transform:uppercase;
  }
       nav ul.sub-menu-0 {
          position:absolute;
          text-align:center;
          padding:0px;
          padding-top:20px;
          left:0px;
          width:100%;
          background:#f5f4f4;
          display:none;
          z-index:300; 
       }
        nav ul.sub-menu-0 > li  {
          text-align:left;
          display:inline-block;
          text-transform:uppercase;
          vertical-align:top;
          font-weight:normal;
          font-size:13px;
         }
           nav ul.sub-menu-0 > li a  {
              font-weight:normal;
              padding:0px;
           }
            nav ul.sub-menu-1 > li a  {
              font-weight:normal;
              font-size:12px;
            }
         nav ul > li:hover ul.sub-menu-0 {
              display:inline-block;
         }
          nav ul.sub-menu-1 {
              text-align:left;
              width:140px;
              padding:20px 30px 40px 0px;
          }
          nav ul.sub-menu-1 li {
              display:block;
              font-size:12px;
         }
         nav ul.sub-menu-1 li a {
              padding:0px;
              padding-bottom:5px;
              text-transform:none;
           }
              nav ul.sub-menu-1 li a:hover {
                  padding-left:15px;
                  text-decoration:none;
              }
   nav ul > li a:hover {
      text-decoration:none;
      color:#ffffff;
      text-shadow: 5px, 5px, black;
  }