@import url('https://fonts.googleapis.com/css?family=Montserrat|ZCOOL+XiaoWei&display=swap');
* {


margin: 0;
padding: 0;
}

html, body {
  height: 100%;
}

.about body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

body {
overflow-x: hidden;
background-color: #ccccff;
}

.container {
}

.about {
   margin: 0 auto;
   width: 50%;
}

p, a {
list-style-type: none;
text-decoration: none;
}

/*menubar*/
.menu li{
float: right;
padding-right: 0px;
font-size: 1.2vw;
list-style-type: none;
margin-top: 1vw;
margin-right: 3vw;
font-family: 'ZCOOL XiaoWei', serif;
}

.menu li a {
color: #4a4a4a;
text-decoration: none;
}

.menu li a:hover {
color: #FAFAFA;
transition: 0.5s;
text-shadow: 3px 3px 6px rgba(250,250,250, 0.5);
}


.center {
float: center;
margin-left: 34vw;
margin-right: 34vw;
}
a {
color: #4a4a4a;
}

a {
  color: white;
}

a:hover {
color: lavenderblush;
transition: 0.5s;
text-shadow: 3px 3px 6px #F7D9D7;
}

/*Title*/
h1 {
color: White;
font-family: 'ZCOOL XiaoWei', serif;
letter-spacing: 0.5vw;
}

/*desc and footer text*/
p {
color: #4a4a4a;
font-family: 'Montserrat', sans-serif;
text-shadow: 2px 2px 0px rgba(216,213,255, 0.5);
}

h1, p{
text-align: center;
}

#title {
margin-top: 8vh;
}

.desc p {
  padding-right: 2vw, auto;
}

h1 {
  color: #2b2430;
}
/*footer*/
.align1 {
float: right;
padding-right:5vh;
padding-right: none;
padding-left: none;
padding-bottom: none;
padding-top: none;
color: #D8D5FF;
font-family: 'Montserrat', sans-serif;
text-shadow: 2px 2px 0px rgba(74, 74, 74, 0.5);
}

.align2 {
float: left;
padding-left: 30vh;
}

.menufooter li{
float: right;
padding-right: 0px;
font-size: 1.2em;
list-style-type: none;
margin-top: 0vh;
margin-right: 5vh;
font-family: 'ZCOOL XiaoWei', serif;
color: #FAFAFA;
}

.menufooter li a {
text-decoration: none;
}

.menufooter li a:hover {
color: ##FAFAFA;
transition: 0.5s;
text-shadow: 3px 3px 6px rgba(250,250,250, 0.5);
}

li .email {
padding-right: 15vh;
}
